.item {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  border-color: gray solid;

  width: 220px;
  align-items: center;
  cursor: pointer;
  padding: 7px;
  margin: 8px;
}
.item:hover {
  background-color: lightgray;
  color: white;
}

.status {
  background-color: red;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 15px;
}
.avatar {
  margin-right: 15px;
  width: 30%;
  border-radius: 50%;
  border: 0.5px solid darkgray;
}
.name {
  color: darkgray;
  font-size: 20px;
}

.true {
  background-color: green;
}
